Once LightDM is installed, you will need to edit the LightDM
configuration file:

  /etc/lightdm/lightdm.conf

Un-comment the line:

  #greeter-session=example-gtk-gnome

and replace "example-gtk-gnome" with the greeter you wish to use.


Examples:

greeter-session=lightdm-gtk-greeter
greeter-session=slick-greeter
